
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    position: relative; /* Adicione esta linha */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

table {
    width: 85%;
    height: 20px;
    margin: auto; /* Adicione esta linha */
    border: 1px solid #000000;
    background: #14286E;
    border-collapse: collapse;
    font-size: 80%;
}

th, td {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #ffffff;     
}

tbody tr{
    color:white;
}

h2{
   align-items: center; 
   color: #14286E;
}

@media (max-width: 600px) {
    body {
        display: block;
    }
    .container {
        display: block;
    }
    .table-container,
    .calendar,
    .logo {
        padding: 20px;
        min-width: auto;
    }
}
.esquerda
{
    width: 75vw;
    background-color: aquamarine;
    overflow-y:auto;
}
.direita
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}